<meta name="theme-color" content="#FBF9F6">
<link rel="icon" href="favicon.ico" sizes="32x32">
<link rel="icon" href="favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="manifest" href="site.webmanifest">
<link rel="alternate" type="application/rss+xml" title="The Times of Palestine" href="feed.xml">
<link rel="preload" href="fonts/newsreader-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="fonts/newsreader-italic-latin.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="css/core.css?v=1">
<script>document.documentElement.className = "js";</script>
<script src="js/main.js?v=1" defer></script>
